<div bsModal #addSampleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addSampleModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add a New Sample</h4>
        <button type="button" class="close pull-right" (click)="addSampleModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="barcode">Barcode</label>
            <input type="text" [(ngModel)]="sample.barcode" name="barcode" class="form-control" id="barcode" required>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
 