<div style="position: relative; height: 100%;">
    <div class="row">
        <div class="col-md-4">
            <input
                    type="text"
                    style="padding:8px;margin:15px auto;width:100%;"
                    placeholder="Filter by Name"
                    [formControl]="nameControl" />
        </div>
        <div class="col-md-offset-5 col-md-3">
            <select
                class="pull-right"
                style="padding:8px;margin:15px auto;width:100%; min-height: 40px;"
                [formControl]="statusControl"
                (change)="updateStatusFilter($event.target.value)">
                <option value="" selected>Filter by Status</option>
                <option *ngFor="let s of statuses" [value]="s.statusId">{{s.statusName}}</option>
            </select>
            <button 
                class="btn btn-link pull-right reset-filters"
                (click)="resetFilters()">
                Reset Filters
            </button>
        </div>
    </div>
    <div class="data-table-wrapper">
        <ngx-datatable
            #table
            class="material full-height"
            [columnMode]="'force'"
            [rows]="samples"
            [loadingIndicator]="isFetching"
            [scrollbarH]="false"
            [scrollbarV]="true"
            [rowHeight]="50"      
            [footerHeight]="60">
            <ngx-datatable-column name="Id" prop="sampleId"></ngx-datatable-column>
            <ngx-datatable-column name="Barcode" prop="barcode"></ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="createdAt">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value | date: 'MM/dd/yyyy'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created By" prop="creator.fullName"></ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status.statusName"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

