.navbar-default {
    background-color: #2196f3;
}

.navbar-brand {
    color: #b2dbfb;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #fff;
}

.navbar-nav > li > a {
    color: #b2dbfb;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus  {
    color: #fff;
}

@media(min-width:768px){
    .sm-view {
        display:none;
    }
}
@media(max-width:767px){
    .lg-view {
        display:none;
    }
}